local/
elpa/
saves/*
auto-save/*
.cask/
*.elc
.slime-history.eld
ac-comphist.dat
cider-history
recentf
.emacs.desktop*
network-security.data
url/*
./org-clock-save.el
backups/*
*~
.DS_Store
.dap-breakpoints
.lsp-session-v1
.mc-lists.el
ido.last
projectile-bookmarks.eld
srecode-map.el
transient
.extension
