# Local overrides (copy from local.el.example)
local.el
node_modules
.cache
.cursor
.extension
auto-save
auto-save-list
backups/*
eln-cache
elpa
emacs-reveal-submodules
games
idlwave
indium-chrome-profile
oer-reveal-org
pde
project-explorer-cache
quelpa
request
straight
undo-tree-history
url
var
.bookmarks*
.dap*
.emacs.desktop*
.fossa*
init.el.*
.lsp*
.mc-lists*
.org-id-locations
.places
.slime-history*
.test*
%backup%*
ac-comphist.dat
bookmarks
catalog-info.yaml
cider-history
flycheck_flycheck_init.el
group.yaml
ido.last
Makefile
network-security.data
org-clock-save.el
package-lock.json
projectile-bookmarks.eld
recentf
savehist
smex-items
srecode-map.el
texput.log
tramp
UNLICENSE

.DS_Store
.init.el.~undo-tree~
.init.el.un~
init.el~
etc/.compile-bind.el.~undo-tree~
*.~undo-tree~
*el~
*~
